.items {
  display: flex;
  align-items: flex-start;
  color: antiquewhite;
  border-radius: 4vh;
  background-image: url("../../Assets/forLogo.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  background-color: #f7f5eb;
}

.text {
  color: darkslategrey;
}
